/* *{
    border: solid 1px black;
} */


.card{
    border : solid #232b35e6;
    border-width: 1px 1px 5px 1px;
    border-radius: 10px;
    display : flex;
    justify-content:space-around;
    width: 60%;
    margin : 0px auto;
    padding: 25px;
    background-color: #ffe5bb;
}

.card:hover{
    transform: scale(1.03);
    transition: ease-out 0.3s;
}

.left-section{
    display:flex;
    justify-content: center;
}

.profile-img{
    width: 150px;
    height: 150px;
}

.profile-img:hover{
    animation: rotation-animation 2s ease-in-out infinite;
}

@keyframes rotation-animation{
    0%{
        transform : rotateZ(0deg);
    }
    20%{
        transform : rotateZ(5deg);
    }
    60%{
        transform: rotateZ(-5deg);
    }
    80%{
        transform : rotateZ(0deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

h4,h5{
    font-size: 15px;
    color: #232b35;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px 0px;
    text-align: center;
}

h4{
    font-size: 35px;
    font-weight: 700;
}    

