*{
    margin:0;
    padding:0;
    font-family:gilroy;
    box-sizing:border-box;
}

:root{
    --primary : #1e3347;
    --secondary : #fec56b;
}

[data-theme = "dark"]{
    --primary : #fec56b;
    --secondary : #1e3347;
}

html,body{
    height: 100%;
    width: 100%;
    color: var(--primary);
    background-color: var(--secondary);
    /* cursor:none; */
}

#nav{
    /* border: solid white 1px; */
    display: flex;
    justify-content: right;
    margin: 20px 20px;
    padding: 0px 50px;
}

#nav h4{
    /* border: solid white 1px; */
    /* line-height: 4; */
    padding: 20px;
    /* margin: 0px 0px 10px 0px; */
}

#logo{
    height: 5vw;
    padding: 0px;
    position: absolute;
    left: 10%;
    top: 0%;
    margin: 25px;
    padding: 0px;
}

#logo:hover{
    animation: rotate-animation 2s ease-in-out infinite;
}

@keyframes rotate-animation{
    0%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(10deg);
    }
    60%{
        transform: rotateZ(-10deg);
    }
    80%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

#navItems{
    /* border: solid white 1px; */
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headingText{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    white-space: nowrap;
    width: max-content;
    /* overflow: hidden; */
}

#headingText span{
    display:inline-block;
}

#headingText-pt2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    white-space: nowrap;
    width: max-content;
    color: var(--secondary);
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: var(--primary);
}

#page1{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    /* overflow-y:visible */
}

#page2{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    overflow: hidden;
    white-space: nowrap;
}

#textAnimation{
    font-size: 40vw;
    color: var(--secondary);
    text-transform: uppercase;
    /* transform: translateX(-246%); */
}

#page3{
    height: max-content;
    width: 100%;
    /* position: relative; */
    background-color: var(--secondary);
}


#string{
    width: 100%;
    height: 300px;
    /* background-color: #111; */
    /* border: solid black 3px; */
}

#arrowText{
    font-size: 35px;
}

#arrowtextDiv{
    /* border: solid black; */
    display: flex;
    padding: 0px 30px;
}

#main{
    height: 100%;
    width: 100%;
}

#cursor{
    height: 25px;
    width: 25px;
    border: solid var(--secondary) 1px;
    border-radius: 50%;
    background-color: var(--primary);
    position: fixed;
    z-index : 9;
    left : 8%;
    top: 4%;
}

#navbar{
    display: flex;
    justify-content: right;
    padding: 10px 30px;

    position: absolute;
    /* top: 20%; */
    right: 0;
}

#full{
    width: 20%;
    height: 50%;
    position: absolute;
    right: -20%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: var(--primary);
    font-size: 25px;
    padding: 20px 30px;
    backdrop-filter: blur(20px);
    /* border: solid black 2px; */
}

#full h4{
    color : var(--secondary);
}

#full i{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px;
    padding: 5px;
    color: var(--primary);
    background-color:  var(--secondary);
    border-radius: 100%;
}


#theme-btn{
    position: fixed;
    top: 4%;
    left: 5%; 
    z-index: 10;
    padding: 8px;
    font-size: 12px;
    color: var(--primary);
    background-color: var(--secondary);
    border: solid var(--primary) 2px;
    border-radius: 10%;
}