*{
    margin:0;
    padding:0;
    font-family:gilroy;
    box-sizing:border-box;
}

html,body{
    height: 100%;
    width: 100%;
    color: #1e3347;
    background-color: #fec56b;
}

#nav{
    /* border: solid white 1px; */
    display: flex;
    justify-content: right;
    margin: 20px 20px;
    padding: 0px 50px;
}

#nav h4{
    /* border: solid white 1px; */
    /* line-height: 4; */
    padding: 20px;
    /* margin: 0px 0px 10px 0px; */
}

#logo{
    height: 5vw;
    padding: 0px;
    position: absolute;
    left: 10%;
    top: 0%;
    margin: 0px;
    padding: 0px;
}

#logo:hover{
    animation: rotate-animation 2s ease-in-out infinite;
}

@keyframes rotate-animation{
    0%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(10deg);
    }
    60%{
        transform: rotateZ(-10deg);
    }
    80%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

#navItems{
    /* border: solid white 1px; */
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headingText{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    white-space: nowrap;
    width: max-content;
}

#headingText-pt2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    white-space: nowrap;
    width: max-content;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1e3347;
}

#page1{
    height: 100%;
    width: 100%;
    position: relative;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: #1e3347;
    overflow: hidden;
    white-space: nowrap;
}

#textAnimation{
    font-size: 40vw;
    color: #fec56b;
    text-transform: uppercase;
    /* transform: translateX(-246%); */
}

#page3{
    height: max-content;
    width: 100%;
    /* position: relative; */
    background-color: #fec56b;
}


#string{
    width: 100%;
    height: 300px;
    /* background-color: #111; */
    /* border: solid black 3px; */
}

#arrowText{
    font-size: 35px;
}

#arrowtextDiv{
    /* border: solid black; */
    display: flex;
    padding: 0px 30px;
} 